<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">ajout article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Titre</ion-label>
    <ion-input
      [(ngModel)]="valueChampTitre"
      placeholder="Ecrivez ici..."
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Texte</ion-label>
    <ion-textarea [(ngModel)]="valueChampTexte"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button (click)="ajoutArticle()">Ajouter</ion-button>
</ion-footer>
