<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Blog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-list>
    <ion-card
      *ngFor="let article of articleService.listArticles; let i = index"
    >
      <ion-card-header>
        <ion-card-title>{{article.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{article.content}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-fab-button (click)="ouvrirPageAjoutArticle()">+</ion-fab-button>
</ion-footer>
